@charset "UTF-8";

*{
 margin: 0px;
 padding: 0px;
}

:root{
  --fonte:"Passion One", sans-serif;
  --fonte3:"Open Sans", sans-serif;
}

body{
    min-height: 100%;
    background-image: linear-gradient(to right,rgba(77, 201, 223, 0.637),transparent);
}
header{
  background-image: linear-gradient(to bottom,rgba(17, 145, 13, 0.705),rgba(68, 148, 60, 0.712));
  color: white;
  text-align: center;
  border: 2px solid rgba(0, 0, 0, 0.39);
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.479);
}

header h1{
  padding-top: 50px;
  font-variant: small-caps;
   font-size: 3em;
   font-family: var(--fonte);
}

header h2{
  padding-bottom: 50px;
  font-size: 2em;
  padding: 10px;
  font-family: var(--fonte);
}


section{
  padding-top: 10vh;
  padding-bottom: 10vh;
  line-height: 2em;
  padding-left: 30px;
  font-family: var(--fonte3);
  font-size: 1.2em;
}

section p{
  padding-bottom: 2em;
  font-size: 1.6em;
}

h2.especial{
  background-color: white;
  font-size: 2.5em;
  text-align: center;
  font-variant: small-caps;
  padding: 10px 0;
  font-weight: bold;
  font-style: italic;
  font-family: var(--fonte);
}

section.normal{
  background-color: white;
  color: black;
}

section.imagem{
  background-color: rgba(0, 0, 0, 0.151);
  color: white;
  box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.678);
  background-attachment: fixed;
}

section.imagem > p{
  background-color: rgba(0, 0, 0, 0.685);
  display: inline-block;
  padding: 5px;
  text-shadow: 1px 1px 0px black;
}

section#img01{
  background-image: url(IMG-20220829-WA0014.jpg);
  background-position: center center;
  background-size:cover;
  
}

section#img02{
  background-image: url(Screenshot_20240523-110639~2.png);
  background-position: center center;
  background-size:cover;
}

section#img03{
  background-image: url(Screenshot_20240523-110649~2.png);
  background-size: cover;
  background-position: center center;
}

 p.msg{
  line-height: 2em;
  background-color: white;
  border: 2PX solid rgba(0, 0, 0, 0.24);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.616);
  border-radius: 0px 10px;
  text-indent: 26px;
  padding: 0 10px;
  padding-bottom: 5px;
  font-family:var(--fonte3) ;
  font-size: 1.2em;
  text-align: justify;
}

section.titulo{
  text-align: center;
  padding-top: 10vh;
  padding-bottom: 10vh;
  line-height: 2em;
}

section.titulo h1{
  padding-top: 50px;
  font-variant: small-caps;
   font-size: 3em;
   padding: 10px;
}

section.titulo h2{
  padding-bottom: 50px;
  font-size: 2em;
  padding: 10px;
}

