*{
    padding: 0;
    margin: 0;
}

img{
    width: 50px;
   height: 50px;
   border-radius: 50px;
}
img:hover{
    width: 55px;
    height: 55px;
    transition: .2s;
}

img.whats:hover{
    box-shadow: 5px 5px 18px green; 
}

img.inst:hover{
    box-shadow: 5px 5px 18px purple;
}

img.git:hover{
    box-shadow: 5px 5px 18px black;
}

img.link:hover{
    box-shadow: 5px 5px 18px aqua;
}

footer{
    display: flex;
    justify-content: center;
}
footer a{
    margin: 30px;
    text-align: center;

}
main{background-color: white;
    border-radius: 25px;
    box-shadow: 5px 5px 15px; color: rgba(52, 63, 10, 0.596);
     min-width: 300px;
    max-width: 1000px;
    padding: 50px;
    margin:auto}
    
    
    body{background-image: linear-gradient(90deg,#5DADE2,#ABEBC6);}
    main h1{
        text-align: center;
        color: purple;
        font: italic bold 3em san-serif;
        font-weight: 1000px;
        padding: 15px;
    }

    main h2{
        text-align: center; color: black;
        font: normal bold 1.7em san-serif;
        padding: 15px;
    }
    
   nav {
    background-image: linear-gradient(to bottom , #f50083, pink);
   padding: 15px;

   }

   nav a{
    color: rgb(0, 0, 0);
    padding: 10px;
    text-decoration: none;
    font: normal bold 1.2em normal;
}

nav a:hover{
    transition-duration: .5s;
   background-color: rgb(174, 0, 255);
   color: rgb(255, 255, 255);
   border-radius: 5px;
}
