@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
body{
  height: 100vh;
  background: url(Rsociais/fundo-madeira.jpg);
  background-size: cover;
  background-attachment: fixed;
}



main{
    height: 100vh;
    position: relative;

}

section#telefone{
    height: 627px;
    width: 311px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background:  url(Rsociais/frame-iphone.png) no-repeat;
}

iframe#tela{
    position: relative;
    top: 80px;
    left: 20px;
    width:269px ;
    height: 471px;
}

section#redes-sociais{
    text-align: right;
}

section#redes-sociais img{
    width: 50px;
    border-radius: 50% ;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.411);
    padding: 2px;
    margin: 10px;
}

section#redes-sociais img:hover{
    border: 2px solid rgba(255, 255, 255, 0.247);
    transform: translate(-2px ,-2px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.616);
    transition: transform .3s, border .1s;
}