body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to top left,rgba(91, 233, 252, 0.288),rgba(81, 255, 226, 0.267));
}


.center {
    width: 300px;
    margin: auto;
    text-align: center;
}
input{
    border-radius: 20px;
}
form {
   
    padding: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"],
input[type="password"] {
    width: calc(100% - 22px); 
    margin-bottom: 10px;
    padding: 5px;
    box-sizing: border-box;
}

button {
    border-radius: 30px;
    width: 100%;
    padding: 10px;
    background-color: #006eff;
    border: none;
    color: white;
    cursor: pointer;
}
h1{color: black;}
label{color: black;}

hr{width: 150px;
color: black;}

button:hover {
    background-color: #3971ad;
}
main{background-color: rgb(203, 219, 233);
    border-radius: 30px;
    box-shadow: 5px 5px 15px; color: rgba(52, 63, 10, 0.596);
    width: 300px;
    padding: 70px;
    margin:auto}